# Recuperación de información.
pandas
python-dwca-reader
scrapling

# Entrenamiento del modelo.
# También es necesario torch, con CUDA: `pip install torch --index-url https://download.pytorch.org/whl/cu130`
unsloth
scikit-learn
matplotlib