# Recuperación de información.
pandas
python-dwca-reader
scrapling
scikit-learn

# Entrenamiento del modelo.
# También es necesario torch con CUDA: `pip install torch --no-deps --force-reinstall --index-url https://download.pytorch.org/whl/cu130`
unsloth
matplotlib
tensorboard

# Creación de RAG.
langchain
langchain-openai
langchain-chroma
langchain-text-splitters